<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- appel fragment head-->
<head th:insert="fragments/fragment::head">

</head>
<!-- fin fragment head-->

<body>

<div class="sidebar">
    <div class="logo">
        <img th:src="@{../css/icon/etablissement.png}"  style="width: 50px;height: 50px;margin-right: 10px" alt="Mon Etab Logo">
        <h2>Mon Etab</h2>
    </div>
    <ul class="menu">
        <hr>
        <li ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-grid-3x2-gap-fill" viewBox="0 0 16 16">
            <path d="M1 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zM1 9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z"/>
        </svg> <a th:href="@{/home/dashboard}">Tableau de bord</a></li>
        <li ><a th:href="@{/students}"><img th:src="@{../css/icon/eleve.png}" style="width: 30px;height: 30px" alt="" > Élèves</a></li>
        <li><a th:href="@{/teachers}"><img th:src="@{../css/icon/professeur.png}" style="width: 30px;height: 30px" alt=""> Professeurs</a></li>
        <li><a th:href="@{/users}"><img th:src="@{../css/icon/user.png}" style="width: 30px;height: 30px" alt=""> Utilisateurs</a></li>
        <li class="active"><a th:href="@{/report/rapport}"><img th:src="@{../css/icon/rapport.png}" style="width: 30px;height: 30px" alt=""> Rapport</a></li>
    </ul>
    <div class="logout">
        <hr>
        <img th:src="@{../css/icon/logout.png}" style="width: 30px;height: 30px" alt="">  <a th:href="@{/}">Déconnexion</a>
    </div>
</div>

<div class="main-content">
    <h1>Tableau de bord</h1>
    <div class="stats-grid">
        <div class="stat-box">
            <h3>Nombre d'élève</h3>
            <p>128 100</p>
        </div>
        <div class="stat-box">
            <h3>Nombre de professeur</h3>
            <p>128 100</p>
        </div>
        <div class="stat-box">
            <h3>Nombre d'utilisateur</h3>
            <p>128 100</p>
        </div>
        <div class="stat-box">
            <h3>Élève par genre</h3>
            <div style="height: 200px;">
                <canvas id="genderChart"></canvas>
            </div>
        </div>

    </div>
</div>

<script src="../css/js/Home.js"></script>
</body>
</html>
